---
---

@charset "utf-8";

$backgroundColor: #F9F9F9;


body {
  background: $backgroundColor;
  font: {
    family: "Inconsolata", monospace;
  }
}

// INDEX

$widthIndex: 250px;

#index-container {
  margin: 10px auto;
  width: $widthIndex;

  p {
    text-align: center;
    font-size: 19px;
  }

  a {
    color: black;
    font-weight: bold;

    &:hover {
      text-decoration: none;
    }
  }
}

#img-me {
  width: $widthIndex;
}
