<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="Hi! I'm Josep Arús-Pous, a computer scientist and PhD student in chemoinformatics at the University of Bern in Switzerland.">

  <title>{{ include.title }}</title>

  <!-- Favicons -->
  <link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16">


  <!-- CSS -->
  <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/odometer.css">
</head>
